<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
		<a class="navbar-item" href="https://meytis.com" target="_blank"/">Site</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Environnement</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#" target="_blank">Accès Recette</a>
			<a class="navbar-item" href="#" target="_blank">Accès Production</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="{{{siteRootPath}}}/{{{page.component.name}}}/{{{page.componentVersion.version}}}/{{{page.component.name}}}.pdf" target="_blank">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
